
<mat-card class="list">
  <mat-card-header>
    <mat-card-title>
      <p>{{ list().name }}</p>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if(list().games.length) {
      @if (scrollView()) {
        <cdk-virtual-scroll-viewport appendOnly itemSize="5" class="games-scroll-viewport">
          <div class="droplist" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="onDrop($event)">
              <div *cdkVirtualFor="let game of games(); trackBy: gamesTrackBy; let i = index">
                <app-game-list-item
                  [game]="game"
                  [listId]="list().id"
                  [detailView]="detailView()"
                  [rankedView]="rankedView()"
                  [rank]="i + 1"
                  cdkDrag
                  [cdkDragDisabled]="!editable"
                  [editable]="editable()"
                  class="list-item"
                />
              </div>
          </div>
        </cdk-virtual-scroll-viewport>
      } @else {
        <div class="droplist" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="onDrop($event)">
          @for (game of games(); track game.id; let index = $index) {
              <app-game-list-item
                [game]="game"
                [listId]="list().id"
                [detailView]="detailView()"
                [rankedView]="rankedView()"
                [rank]="$index + 1"
                cdkDrag
                [cdkDragDisabled]="!editable"
                [editable]="editable()"
                class="list-item"
              />
          }
        </div>
      }
    } @else {
      <p>No games currently in list</p>
    }
  </mat-card-content>
  @if (editable()) {
  <mat-card-actions class="actions">
    <div class="toggles">
        <mat-button-toggle-group>
          <mat-button-toggle value="unranked" (click)="setRankedView(false)" [checked]="rankedView() === false">Unranked</mat-button-toggle>
          <mat-button-toggle value="ranked" (click)="setRankedView(true)" [checked]="rankedView() === true">Ranked</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      @if (list().type == 'user') {
        <fa-icon class="trash" [icon]="faTrash" (click)="deleteList(list().id)" />
      }
    </mat-card-actions>
  }
</mat-card>
