.trash {
  color: #333;

  &:hover {
    color: #ff4747;
  }
}

.list-item {
  display: flex;
  gap: 10px;
}

.list {
  padding: 10px;
  border: 1px solid #efefef;
  width: 300px;
  display: flex;
  flex-direction: column;
}
