.trash {
  color: #333;

  &:hover {
    color: #ff4747;
  }
}

.list-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.list {
  padding: 10px;
  border: 1px solid #efefef;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.drag-handle {
  color: #898989;
  cursor: grab;
}

.list-name {
  font-size: 1.6rem;
}
