<h1>Welcome</h1>

<h2>Sign in</h2>


  <input [(ngModel)]="loginForm.username" placeholder="Username"/>
  <input [(ngModel)]="loginForm.password" placeholder="Password"/>
  <button (click)="login()">Sign in</button>

  <hr>

  <h2>Create new account</h2>

  <input [(ngModel)]="loginForm.firstName" type="text" placeholder="First name">
  <input [(ngModel)]="loginForm.lastName" type="text" placeholder="Last name">
  <input [(ngModel)]="loginForm.newUsername" type="text" placeholder="UserName">
  <input [(ngModel)]="loginForm.newPassword" type="text" placeholder="Password">
  <button (click)="createNewUser()">Create account</button>


@if (errorMessage()){
  <p>{{ errorMessage()}}</p>
}

<p>Select User</p>
<app-user-select (userSet)="setUser($event)"/>

