<!-- <h1>Welcome</h1>

<h2>Sign in</h2>


  <input [(ngModel)]="loginForm.username" placeholder="Username"/>
  <input [(ngModel)]="loginForm.password" placeholder="Password"/>
  <button (click)="login()">Sign in</button>

  <hr>

  <h2>Create new account</h2>

  <input [(ngModel)]="loginForm.firstname" type="text" placeholder="First name">
  <input [(ngModel)]="loginForm.lastName" type="text" placeholder="Last name">
  <input [(ngModel)]="loginForm.newUsername" type="text" placeholder="UserName">
  <input [(ngModel)]="loginForm.newPassword" type="text" placeholder="Password">
  <button (click)="createNewUser()">Create account</button>


@if (errorMessage()){
  <p>{{ errorMessage()}}</p>
}
 -->

 <mat-form-field class="user-select">
  <mat-label>
    Users
  </mat-label>
  <mat-select>
    @for (user of users$ | async; track user.username) {
      <mat-option [value]="user.username" (click)="setUser(user)">{{ user.firstName + " " + user.lastName }}</mat-option>
    }
  </mat-select>
</mat-form-field>
<pre>{{ users$ | async | json }}</pre>
