
<form
  #searchForm="ngForm"
  (ngSubmit)="searchGamesByName()"
  >
  <input type="search" [(ngModel)]="searchQuery" name="searchQuery">
</form>

@if(searchResults$ | async) {
  @for (game of searchResults$ | async; track $index) {
    <p>{{ game.name }}</p>
    @if (game.cover?.url) {
      <div class="cover-art-container">
        <img class="cover-art" [ngSrc]="game.cover?.url!.replace('t_thumb', 't_cover_big')" alt="Cover Art" fill priority>
      </div>
    }
    <button (click)="addGame(game, 'playing')">Playing</button>
    <button (click)="addGame(game, 'played')">Played</button>
    <button (click)="addGame(game, 'backlog')">Backlog</button>

    @if (gameListsStore.userCreatedLists().length) {
      <label for="lists">Add to:</label>
      <select name="lists" id="lists">
        @for (list of gameListsStore.userCreatedLists(); track list.id) {
          <option value="" disabled selected>--Choose a list--</option>
          <option [value]="list" (click)="addGame(game, list.id)">{{ list.name }}</option>
        }
      </select>
    }
  }
}
@else {
  <p>Search for games by their name</p>
}

