
  @if (mode() === 'create') {
  <mat-form-field class="list-select">
    <mat-label>
      {{ mode() | titlecase }} list group
    </mat-label>
    <input matInput type="text" [(ngModel)]="listGroupName" name="newListGroupName" (keydown.enter)="handleGroupSelection()">
    @if (listGroupName()) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="listGroupName.set('')">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
  } @else {
  <mat-form-field>
    <mat-label>
      {{ mode() | titlecase }} list group
    </mat-label>
    <mat-select [(ngModel)]="listGroupName" (selectionChange)="handleGroupSelection()">
      <mat-option value="all" selected>All</mat-option>
      @for (list of listGroups(); track list) {
        <mat-option [value]="list">{{ list }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  }

<mat-button-toggle-group>
  @if (usage() === 'create') {
    <mat-button-toggle value="select" (click)="mode.set('select')" [checked]="mode() === 'select'">Select</mat-button-toggle>
    <mat-button-toggle value="create" (click)="mode.set('create')" [checked]="mode() === 'create'">Create</mat-button-toggle>
    <mat-button-toggle value="delete" (click)="mode.set('delete')" [checked]="mode() === 'delete'">Delete</mat-button-toggle>
  }

  @if (usage() === 'assign') {
    <mat-button-toggle value="add" (click)="mode.set('add')" [checked]="mode() === 'add'">Add</mat-button-toggle>
    <mat-button-toggle value="remove" (click)="mode.set('remove')" [checked]="mode() === 'remove'">Remove</mat-button-toggle>
  }
</mat-button-toggle-group>
