:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cover-art {
  object-fit: contain;
}

.cover-art-container {
  position: relative;
  width: 50px;
  height: 50px;
}

.trash {
  color: #333;
  visibility: hidden;

  &:hover {
    color: #ff4747;
  }
}

.game-name {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  align-items: center;

  &:hover {
    .trash {
      visibility: visible;
    }
  }
}

.name-and-thumbnail {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

textarea {
  resize: vertical;
}
