:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.cover-art {
  object-fit: contain;
}

.cover-art-container {
  position: relative;
  width: 60px;
  height: 60px;
  flex: 0 0 60px;
}

.game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  &:hover {
    .trash,
    .info-icon {
      visibility: visible;
    }
  }
}

.game-name {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  cursor: grab;
}

.trash {
  color: #333;
  visibility: hidden;
  justify-self: flex-end;

  &:hover {
    color: #ff4747;
  }
}

.name-and-thumbnail {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

.list-item {
  display: flex;
  width: 100%;
}

p {
  margin: 0;
}

.rank {
  font-weight: 700;
  flex: 0 0 30px;
  text-align: center;
}

.info-icon {
  cursor: pointer;
  color: #333;
  visibility: hidden;
}

.detail-view {
  margin-top: 10px;
  width: 100%;
}

.note {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.note-prompt {
  font-style: italic;
  font-weight: 400;
  font-size: .8rem;
}

.edit-note {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
}

.mat-mdc-card-content,
.mat-mdc-card-content:last-child,
.mat-mdc-card-content:first-child {
  padding: 10px;
}
