:host {
  --star-gold: #ffcc33;

  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
}

.star {
  color: #898989;
  cursor: pointer;
}

.active {
  color: var(--star-gold);
}

.clear-rank {
  display: none;
}

:host:hover {
  .clear-rank {
    display: inline-block;
    cursor: pointer;
    margin: 0;
  }
}
